
*{
    margin:0;
    padding:0;
}


.header{
    display: grid;
    /* grid-gap:.5em; */
    grid-template-columns: repeat(1fr, 5);
}

.grid--items{
    grid-row: 1;
    margin-top:1.5em;
    margin-left:2em;

}
.logo{
    grid-column: 1;
}

.menu{
    display:relative;
    bottom:2em;
    grid-column:5;
    margin-bottom:2em;
  
}


.sub-section-heading{
    position: relative;
    grid-row-start: 1;
    background-color:hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    padding:2.5em;
    bottom:.5em;
    z-index: 1;

}

.sub-section-heading > p{
    padding-top:1rem;
    line-height: 1.6;
    z-index: 1;
}

.sub-section-heading > h1 {
    margin-left:.5em;
    z-index: 1;
    
}

.main-img{
    height:100%;
}


.left-side-mobile-design{
    position:absolute;
    right:55%;
    bottom:45%;
   
}




